.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/*
.column {
}
*/
.row a img {
  margin-top: 8px;
  vertical-align: middle;
  flex: 25%;
  padding: 0 0.3vw;
  width: 24vw;
}

div button {
	min-height: 7.5rem;
	min-width: 7.5rem;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 64px;
	background-color: white;
	cursor: pointer;
	border: none;
	opacity: 50%;
	color: black;
}

div button a {
	color:black;
}