* {
	box-sizing: border-box;
}
 
.row {
	padding: 0 4px;
	column-count: 4;
	column-gap: 8px;
}
  
.row a {
	display: inline-block;
	width: 100%;
	margin-bottom: 8px;
	text-decoration: none;
  
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
				 break-inside: avoid; /* Standard */
}
  
.row a img {
	display: block;
	width: 100%;
	height: auto;
}
  
@media screen and (max-width: 800px) {
	.row {
		column-count: 2;
	}
}
  
@media screen and (max-width: 600px) {
	.row {
		column-count: 1;
	}
}

div button {
	min-height: 7.5rem;
	min-width: 7.5rem;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 64px;
	background-color: white;
	cursor: pointer;
	border: none;
	opacity: 50%;
	color: black;
}

div button a {
	color:black;
}